body {
    padding-top: 5rem;
}
/* Widget code
 */
.widget {
    h3 {
        font-size: 1.25rem;
        color: theme-color('primary');
        text-transform: uppercase;
    }

    p.credit {
        font-size: .80rem;
        text-align: center;
    }
}
canvas {
    margin: 1rem 0;
}
