// Body
$body-bg: #ededed;
// https://www.design-seeds.com/seasons/summer/color-resort/
$theme-colors: (
  "primary": #7094cf,
  "secondary": #c1abc4,
  "success": #edccd3,
  "dark": #3d69a6
);

// Typography
$font-family-sans-serif: 'Cairo', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
